/* rightbar section a */
.post_wrapper {
  /* background-color: rgb(0, 0, 0, 0.4); */
  padding-top: 100px;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  /* opacity: 0.4; */

  display: flex;
  justify-content: center;
}

.container_a {
  padding: 20px;
  background-color: #d4d4d4;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
  width: 400px;
  padding-right: 10px;
}
.header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interest_buttons {
  margin-bottom: 10px;
}

.input_container {
  margin-top: 7px;
  background-color: #ffffff;
  color: #4e4e4e;
  padding-left: 5px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
}
.txt_community {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #4e4e4e;
  outline: none;
  background-color: #ffffff;
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.postImage {
  object-fit: cover;
  width: 100% !important;
  position: absolute !important;
  /* height: unset !important; */
}

.addMargin {
  margin-top: 300px;
}

/*Button utilities */

.interet_btnInner {
  display: flex;
  gap: 7px;
}

.btn_create {
  border: none;
  outline: none;
  gap: 5px;
  background-color: #f48023;
  border-radius: 5px;
  padding: 7px 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn_create:hover {
  background-color: #fd9c4d;
}

.btn_image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.interest_buttons > button {
  background-color: #1682fd;
}

.interest_buttons > button:hover {
  background-color: #53a3ff;
}

.btn_draft {
  background-color: #9e9e9e;
}

.btn_draft:hover {
  background-color: #666666;
}
@media screen and (max-width: 900px) {
  .post_wrapper {
    height: 1300px;
  }
  .container_a {
    width: 300px;
  }
  .container_a h3 {
    font-size: 16px;
  }

  .btn_create {
    padding: 7px 7px;
    height: 36px;
  }

  .btn_image {
    gap: 3px;
  }

  .interest_buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .imageContainer {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .addMargin {
    margin-top: 0px;
  }

  .input_container {
    display: inline-flex;
    align-items: center;
  }

  .txt_community {
    width: 100%;
    /* max-width: 400px; */
  }
}
