.wrapper {
  margin-top: 30px;
}
.wrapper h1 {
  text-align: center;
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #808080;
}
.comment_container {
  height: 143px;
  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  /* align-items: center; */
}

.txt_community {
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4e4e4e;
  outline: none;
  /* height: 40px; */

  padding: 20px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}
.post_card {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 1px 5px 0px #00000026;
  border: 1px solid #eaeaea;
  border-left: 3px solid #9dc9fc;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post_card > h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;

  color: #000000;
}
.post_card > .myHeader {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.post_card > p {
  font-weight: 300;

  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}
.post_card > .myTitle {
  font-weight: 300;

  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}
.profile__image {
  border: none;
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: #3f3f3f;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.35'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
}
hr.comment_divider {
  border-top: 1px solid rgb(230, 230, 230);
}
.container_a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container_a a {
  margin-left: auto;
}

.inner_a p:first-child {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 2px;
}
.inner_a p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #808080;
}
.inner_b {
  display: flex;
  justify-content: space-between;
}

.inner_bb {
  display: flex;
  gap: 15px;
}

.inner_bb a {
  font-size: 13px;
  font-weight: 400;
  color: #808080;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 25px 0;
}

.postImage {
  object-fit: cover;
  width: 100% !important;
  position: absolute !important;
  /* height: unset !important; */
}
.inner_ba {
  display: flex;
  gap: 20px;
}
.show_replies,
.reply {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: 0.05em; */
  color: #1682fd;

  display: inline-flex;
  align-items: center;
  gap: 5px;
}
/* utilities */
.interest_buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.interet_btnInner {
  display: flex;
  gap: 7px;
  justify-content: flex-end;
}

.btn_create {
  border: none;
  outline: none;
  gap: 5px;
  background-color: #f48023;
  border-radius: 5px;
  padding: 7px 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn_create:hover {
  background-color: #fd9c4d;
}

.btn_image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.interest_buttons > button {
  background-color: #1682fd;
}

.interest_buttons > button:hover {
  background-color: #53a3ff;
}

.btn_draft {
  background-color: #9e9e9e;
}

.btn_draft:hover {
  background-color: #666666;
}

@media screen and (max-width: 900px) {
  .btn_create {
    padding: 7px 7px;
    height: 36px;
  }

  .btn_image {
    gap: 3px;
  }

  .txt_community {
    padding: 7px 10px;
    height: 35px;
    font-size: 12px;
  }

  .interest_buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /* middle sidebar */
  .inner_b {
    flex-wrap: wrap;
    gap: 15px;
  }
  .imageContainer {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .post_card > .myTitle {
    font-size: 12px;
  }
}
