.editPost_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
}

/* .container {
  max-width: 500px;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
} */

@media screen and (max-width: 900px) {
  .editPost_container {
    height: 800px;
    padding-top: 100px;
    align-items: flex-start;
  }
}
