.signin_container {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding: 10px;
}

.blog_header {
  margin-bottom: 20px;
}
.post_input_content {
  padding: 10px;
}

.errorMessageContainer {
  /* width: 300px; */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(250, 128, 128);
  padding: 10px;
}
.messageContainer {
  /* width: 300px; */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(128, 181, 250);
  padding: 10px;
}

.post_input_content label {
  color: rgb(56, 56, 56);
  font-size: 14px;
}
.post_input_content input {
  width: 300px;
  padding: 7px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(56, 56, 56);

  background: #ffffff;
  border: 1px solid #757575;
  /* border-radius: 5px; */
  outline: none;
  margin-top: 10px;
}
.btn_submit {
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  background: #f48023;
  color: white;
  /* border-radius: 5px; */
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  font-weight: 600;
  width: 100%;
}

.btn_submit:hover {
  background: #ff9e4f;
  color: white;
}
