/* Rightbar section */
.rigtbar_section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 45px;

	margin-left: 25%;
	margin-top: 80px;
	padding: 30px;
}
.home_container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@media screen and (max-width: 900px) {
	/* rightbar section */
	.rigtbar_section {
		grid-template-columns: 1fr;
		margin-left: 0;
	}

	/* .rigtbar_section_b {
		top: 150px;
	} */
}
